<div class = "none" id = "player_list_data"></div>
<div style = "text-align: right">
	<div class = "inline marg5">
		<div class="inline"><%= image_tag "twitter.svg" %></div>
		<p class = "inline socialFontIco marg2" alt="twitter">twitter</p>
	</div>
	<div class = "inline marg5">
		<div class="inline"><%= image_tag "producthunt.svg" %></div>
		<p class = "inline socialFontIco marg2" alt="producthunt">producthunt</p>
	</div>
</div>
<div id = "playerlist" class = "vertical-align-div"></div>
