<div id = "playerlist" class = "vertical-align-div"></div>
<div class = "none" id = "player_list_data"><%= @props %></div>
<script type="text/javascript">
    window.object = JSON.parse(document.getElementById('player_list_data').innerText);
</script>