<div class = "none" id = "player_list_data"></div>
<div style = "text-align: right">
	<a href = "https://twitter.com/minupalaniappan" target="_blank"><div class = "inline marg5">
		<div class="inline"><%= image_tag "twitter.svg" %></div>
		<p class = "inline socialFontIco marg2" alt="twitter">tweet me</p>
	</div></a>
	<a href = "https://www.producthunt.com/posts/ballmetric" target="_blank"><div class = "inline marg5">
		<div class="inline"><%= image_tag "producthunt.svg" %></div>
		<p class = "inline socialFontIco marg2" alt="producthunt">hunt it</p>
	</div></a>
</div>
<div id = "playerlist" class = "vertical-align-div"></div>
