<div class = "none" id = "player_show_data"><%= @props %></div>
<div id = "playershow"></div>
<script type="text/javascript">
    window.object = JSON.parse(document.getElementById('player_show_data').innerText);
</script>