// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'Walsheim-Bold';
    src:font-url('Bold.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Bold';
    src:font-url('Bold.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Bold Oblique';
    src:font-url('BoldOblique.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Light';
    src:font-url('Light.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Light Oblique';
    src:font-url('LightOblique.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Medium';
    src:font-url('Medium.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Medium Oblique';
    src:font-url('MediumOblique.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Regular';
    src:font-url('Regular.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Thin';
    src:font-url('Thin.ttf') format('truetype');
}  

html, body {
	margin: 0px; 
	padding: 0px; 
	max-width: 1100px; 
	margin: 0 auto;
}

* {
	text-decoration: none;
	margin: 0px;
}

a {
	color: #2DC9FC;
}

h1 {
	font-family: "Walsheim Medium";
	color: #333; 
	font-size: 2.3em;
}

h2 {
	font-family: "Walsheim Regular";
	color: #D6D6D6; 
	font-size: 1.4em;
}

h4 {
	font-family: "Walsheim Light";
	color: #4A4A4A; 
	font-size: 1em;
}

.right {
	text-align: right;
}

.padding {
	padding: 10px 0px;
}

.padding-side {
	padding: 0px 10px;
}

.margin {
	margin: 10px 0px;
}

.margin-side {
	margin: 0px 10px;
}

.form-search {
	border: none;
	border-radius: 2px; 
	border: 1px solid #D6D6D6;
	background-color: white;
	outline: none;
	font-size: 1.5em; 
	color: #333;
	padding: 0.5em; 
	width: 100%;
}

.inline {
	display: inline-block;
}

.vert-top {
	vertical-align: top;
}

.table-header {
	display: table; 
	width: 100%;
	.parent {
		display: table-cell;
	}
	.parent:nth-child(1) {
		width: 70%
	}
}

video {
	width: 100%;
}

.tag {
	&:hover {
		cursor: pointer;
	}
	width: 22%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #FAFAFA;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    margin-right: 5px; 
    margin-bottom: 5px;
    .tag-title {
    	font-weight: 400; 
    	font-size: 1em; 
    	color: #5E5E5E; 
    }
}

.reset {
	outline: none; 
	font-size: 0.8em; 
	background-color: #9EFFD8;
	border: 1px solid #4BBF91;
	.tag-title {
		color: #03995D;
		font-weight: 600; 
	}
	max-width: 70px;
	max-height: 50px; 
	border-radius: 3px;
}

.active {
	background-color: #C7F1FF;
	border: 1px solid #69BFDB;
	.tag-title {
		color: #13B9F0;
	}
}

.available {
	* { color: green}
}

.center {
	text-align: center;
}

.loop-counter {
	&:hover {
		cursor: pointer;
	}
	.count {
		background-color: #2DC9FC;
		color: white;
		padding: 10px;
		border-radius: 3px;
	}
}

.formPosition {
	padding: 10px;
	font-size: 1em;
}

.fright {
	float: right;
}

.margin-side {
	margin: 0px 5px;
}

.parent {
	display: flex;
	flex-wrap: wrap;
}

.playerListWrapper {
	max-width: 500px;
	margin: 0 auto;
	padding-top: 40px;
}