// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$ultra-light-gray: #EBEBEB;
$light-gray: #B5B5B5; 
$mid-gray: #4a4a4a;
$dark-gray: #999;
$dark-blue: #003569;
$green: #12D18B;

@mixin vertical-align($position: relative) {
  position: $position;
}

@font-face {
    font-family: 'Walsheim-Bold';
    src:font-url('Bold.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Bold';
    src:font-url('Bold.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Bold Oblique';
    src:font-url('BoldOblique.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Light';
    src:font-url('Light.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Light Oblique';
    src:font-url('LightOblique.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Medium';
    src:font-url('Medium.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Medium Oblique';
    src:font-url('MediumOblique.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Regular';
    src:font-url('Regular.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Thin';
    src:font-url('Thin.ttf') format('truetype');
}  

html, body {
	margin: 0px; 
	padding: 0px; 
	max-width: 700px; 
	margin: 0 auto;
	height: 100%;
}

/* slider */ 

.rc-slider-mark-text {
	width: 18%;
    margin-left: -9%;
}

.content {
	padding-top: 30px;
}

* {
	text-decoration: none;
	margin: 0px;
	font-family: "Walsheim Regular";
}

a {
	color: $green;
}

h1 {
	font-family: "Walsheim Medium";
	font-size: 3em;
	color: $green;
}

h2 {
	font-family: "Walsheim Regular";
	font-size: 1.4em;
}

h4 {
	font-family: "Walsheim Light";
	font-size: 1em;
	color: $light-gray;
}

.vertical-align-div {
	@include vertical-align();
}

.right {
	text-align: right;
}

.padding {
	padding: 10px 0px;
}

.padding-side {
	padding: 0px 10px;
}


.form-search {
	border: none;
    border-radius: 2px;
    border: 1px solid $light-gray;
    outline: none;
    font-size: 1.2em;
    padding: 10px;
    box-sizing:border-box;
    width: 100%;
    margin: 15px 0px;

}

.tag-search {
	border: none; 
	border: none; 
	outline: none;
	font-size: 0.8em;
    box-sizing:border-box;
    width: 100%;
    padding: 6px 0px;
    border-bottom: 1px solid $ultra-light-gray;
}

.inline {
	display: inline-block;
}

.vert-top {
	vertical-align: top;
}

.table-header {
	display: table; 
	width: 100%;
	.parent {
		display: table-cell;
	}
	.parent:nth-child(1) {
		width: 70%
	}
}

.active {
	color: $dark-gray;
}

.active, .available, .reset {
	.tag-title {
		font-family: "Walsheim Regular";
		font-size: 0.8em;
	}
}


.formPosition {
	padding: 10px;
	font-size: 0.8em;
}

.fright {
	float: right;
}

.margin-side {
	margin: 0px 5px;
}

.parent {
	display: flex;
	flex-wrap: wrap;
}

.playerListWrapper {
	max-width: 500px;
	margin: 0 auto;
	padding: 30px 0px;
}

.player_component {
	position: relative;
	max-height: 150px; 
}

.overlay {
	width: 700px;
	line-height: 400px; 
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: black; 
	p {
		text-align: center; 
		color: white;
	}
}

video {
	max-width: 700px;
}

.social-icon {
	color: $mid-gray;
	width: 40px; 
	height: 40px;
}

.tier-slider {
	margin: 15px 0px;
	padding: 15px 25px 30px 25px; 
	border-radius: 3px;
	border: 1px solid $ultra-light-gray;
}

.videoBlack {
	background-color: black; 
	width: 700px; 
	height: 400px; 
	p {
		text-align: center; 
		color: white; 
		font-family: "Walsheim Light";
		line-height: 393px;
	}
}

.tagList {
	.row-tag {
		padding: 8px 0px; 
		border-bottom: 1px solid $ultra-light-gray;
		.tag-text {
			color: $mid-gray;
			font-family: "Walsheim Light";
			font-size: 1.2em;
			&.active {
				color: $green;
			}
		}
	}
	.row-tag:hover {
		cursor: pointer; 
		p {
			color: $green;
		}
	}
}

.bg-back {
	height: 400px;
	background-color: black;
}

.tagList {
	max-height: 400px; 
	overflow-y: scroll;
}