// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$ultra-light-gray: #EBEBEB;
$light-gray: #B5B5B5; 
$mid-gray: #4a4a4a;
$dark-gray: #999;
$dark-blue: #003569;
$green: #81DE62;

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
}

@font-face {
    font-family: 'Walsheim-Bold';
    src:font-url('Bold.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Bold';
    src:font-url('Bold.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Bold Oblique';
    src:font-url('BoldOblique.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Light';
    src:font-url('Light.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Light Oblique';
    src:font-url('LightOblique.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Medium';
    src:font-url('Medium.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Medium Oblique';
    src:font-url('MediumOblique.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Regular';
    src:font-url('Regular.ttf') format('truetype');
}  

@font-face {
    font-family: 'Walsheim Thin';
    src:font-url('Thin.ttf') format('truetype');
}  

html, body {
	margin: 0px; 
	padding: 0px; 
	max-width: 700px; 
	margin: 0 auto;
	height: 100%;
}

* {
	text-decoration: none;
	margin: 0px;
	font-family: "Walsheim Regular";
}

a {
	color: $dark-blue;
}

h1 {
	font-family: "Walsheim Medium";
	font-size: 2.3em;
}

h2 {
	font-family: "Walsheim Regular";
	font-size: 1.4em;
}

h4 {
	font-family: "Walsheim Light";
	font-size: 1em;
	color: $light-gray;
}

.vertical-align-div {
	@include vertical-align();
	margin-top: -100px;
}

.right {
	text-align: right;
}

.padding {
	padding: 10px 0px;
}

.padding-side {
	padding: 0px 10px;
}

.margin {
	margin: 10px 0px;
}

.margin-side {
	margin: 0px 10px;
}

.form-search {
	border: none;
    border-radius: 2px;
    border: 1px solid $light-gray;
    outline: none;
    font-size: 1em;
    padding: 5px 8px;
    box-sizing:border-box;
    width: 100%;

}

.inline {
	display: inline-block;
}

.vert-top {
	vertical-align: top;
}

.table-header {
	display: table; 
	width: 100%;
	.parent {
		display: table-cell;
	}
	.parent:nth-child(1) {
		width: 70%
	}
}

.tag {
	&:hover {
		cursor: pointer;
	}
	width: 19%;
    /* height: 50px; */
    /* line-height: 50px; */
    line-height: 35px;
    text-align: center;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: $ultra-light-gray;
}


.active {
	color: $dark-gray;
}

.active, .available, .reset {
	.tag-title {
		font-family: "Walsheim Regular";
		font-size: 0.8em;
	}
}

.available {
	* { color: $mid-gray;}
}

.center {
	text-align: center;
}

.loop-counter {
}

.formPosition {
	padding: 10px;
	font-size: 0.8em;
}

.fright {
	float: right;
}

.margin-side {
	margin: 0px 5px;
}

.parent {
	display: flex;
	flex-wrap: wrap;
}

.playerListWrapper {
	max-width: 500px;
	margin: 0 auto;
}

.player_component {
	position: relative;
	max-height: 150px; 
}

.overlay {
	width: 700px;
	line-height: 400px; 
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: black; 
	p {
		text-align: center; 
		color: white;
	}
}

video {
	max-width: 700px;
}

.social-icon {
	color: $mid-gray;
	width: 40px; 
	height: 40px;
}

.shot-type {
    vertical-align: middle;
    float: right;
    margin-top: 8px;
}

.mwidth300 {
	width: 300px;
}